* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Instrument Sans", system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-size: 16px;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Variables */
  --app-color-1: #633cff;
  --app-color-2: #beadff;
  --app-color-3: #efebff;

  --heading-color: #333333;
  --text-color: #737373;

  --box-shadow: 0 0 32px #633cff40;
  --border-color: #d9d9d9;
  --error-color: #ff3939;
  --background-color-1: #fafafa;
  --background-color-2: #fff;
  --button-color-1: #fff;
  --button-color-2: #633cff;

  --heading-size-1: 32px;
  --heading-line-1: 1.5;
  --heading-weight-1: 700;
  --heading-size-2: 16px;
  --heading-line-2: 1.5;
  --heading-weight-2: 700;

  --text-size-1: 16px;
  --text-line-1: 1.5;
  --text-weight-1: 400;
  --text-size-2: 12px;
  --text-line-2: 1.5;
  --text-weight-2: 400;
}

a {
  color: inherit;
  text-decoration: inherit;
}
